body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

#bgVideo {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -2;
    }

.logo {
    position: relative;
    width: 600px;
    margin: 40px 0 0 0;
}

.logo a{
   border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100px;
    display: flex;
    justify-content: center;
    position: relative;
}

.logo img {
    max-width: 100%;
}

#bgImage {
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.container {
    margin: 40px 0 0 0 ;
    max-width: 600px;
    max-height: 480px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1, h3 {
    color: #337ab7;
    text-align: center;
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.btn-info {
    background-color: #ff8b47;
    border-color: #337ab7;
    border-radius: 50px;
    padding: 10px 20px;
    color: #ffffff;
    font-weight: bold;
}

.btn-info:hover {
    background-color: #ff0000;
    border-color: #286090;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#img_loaded {
    border: 2px solid #337ab7;
}

@media screen and (max-width: 600px) {
  .logo {
    width: 100%;
  }

  .container {
    margin-top: 70px;
    width: 90%;
  }
}

